/*CSS Document*/

#pieChart {    
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 20px;
}

/*#lineChart {    
	position:absolute;
	left:720px;
	height: 250px;
}*/

#barChart {
	cursor: pointer;
}

.slice {
   font-size: 10pt;
   font-family: Verdana;
   fill: white;
   font-weight: bold;	
  		} 

/*for line chart*/
.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 3px;
}

.dot {
  fill: white;
  stroke-width: 1.5px;
  cursor: pointer;
  transition: .3s;
  }

.dot:hover
{
	fill: darkgreen;
	transition: .3s;
}
				

.axis text {
    font-family: Verdana;
    font-size: 11px;
}

.row
{
	max-width: 100%;
}

.title {
	 font-family: Verdana;
    font-size: 12px;	
		
}

.xAxis {
    font-family: verdana;
    font-size: 11px;
    fill: black;
}  

.yAxis {
    font-family: verdana;
    font-size: 9px;
    fill: white;
}

  
table {
	border-collapse:collapse;
	border: 0px;	
	font-family: Verdana;	
	color: #5C5558;
	font-size: 12px;
	text-align: right;		
}

td {
	padding-left: 10px;		
}

#container
{
	background: lightgrey;
	border-radius: 10px;
	border: 3px solid #444;
}

#lineChartTitle1 {
	font-family: Verdana;
	font-size  : 14px;
	fill       : grey;
	font-weight: bold;
	text-anchor: middle;
}

#lineChartTitle2 {
	font-family: Verdana;
	font-size  : 28px;
	fill       : grey;
	text-anchor: middle;
	font-weight: bold;
}
