@font-face {
    font-family: 'permiansanstypefaceitalic';
    src: url('fonts/permian/web-fonts/permiansans_italic_macroman/PermianSansTypeface-Italic-webfont.eot');
    src: url('fonts/permian/web-fonts/permiansans_italic_macroman/PermianSansTypeface-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/permian/web-fonts/permiansans_italic_macroman/PermianSansTypeface-Italic-webfont.woff2') format('woff2'),
         url('fonts/permian/web-fonts/permiansans_italic_macroman/PermianSansTypeface-Italic-webfont.woff') format('woff'),
         url('fonts/permian/web-fonts/permiansans_italic_macroman/PermianSansTypeface-Italic-webfont.ttf') format('truetype'),
         url('fonts/permian/web-fonts/permiansans_italic_macroman/PermianSansTypeface-Italic-webfont.svg#permiansanstypefaceitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
