@font-face {
    font-family: 'permiansanstypefaceregular';
    src: url('fonts/permian/web-fonts/permiansans_regular_macroman/PermianSansTypeface-webfont.eot');
    src: url('fonts/permian/web-fonts/permiansans_regular_macroman/PermianSansTypeface-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/permian/web-fonts/permiansans_regular_macroman/PermianSansTypeface-webfont.woff2') format('woff2'),
         url('fonts/permian/web-fonts/permiansans_regular_macroman/PermianSansTypeface-webfont.woff') format('woff'),
         url('fonts/permian/web-fonts/permiansans_regular_macroman/PermianSansTypeface-webfont.ttf') format('truetype'),
         url('fonts/permian/web-fonts/permiansans_regular_macroman/PermianSansTypeface-webfont.svg#permiansanstypefaceregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
