@font-face {
    font-family: 'permiansanstypefacebold';
    src: url('fonts/permian/web-fonts/permiasans_bold_macroman/PermianSansTypeface-Bold-webfont.eot');
    src: url('fonts/permian/web-fonts/permiasans_bold_macroman/PermianSansTypeface-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/permian/web-fonts/permiasans_bold_macroman/PermianSansTypeface-Bold-webfont.woff2') format('woff2'),
         url('fonts/permian/web-fonts/permiasans_bold_macroman/PermianSansTypeface-Bold-webfont.woff') format('woff'),
         url('fonts/permian/web-fonts/permiasans_bold_macroman/PermianSansTypeface-Bold-webfont.ttf') format('truetype'),
         url('fonts/permian/web-fonts/permiasans_bold_macroman/PermianSansTypeface-Bold-webfont.svg#permiansanstypefacebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
