/* SCSS file */
/* Here is the styling done for the CSS file */
@font-face {
  font-family: 'euphoria';
  src: url("../fonts/euphoria/euphoriascript-regular-webfont.woff2") format("woff2"), url("../fonts/euphoria/euphoriascript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'permianbold';
  src: url("../fonts/permian/permbold/PermianSansTypeface-Bold-webfont.eot");
  src: url("../fonts/permian/permbold/PermianSansTypeface-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/permian/permbold/PermianSansTypeface-Bold-webfont.woff2") format("woff2"), url("../fonts/permian/permbold/PermianSansTypeface-Bold-webfont.woff") format("woff"), url("../fonts/permian/permbold/PermianSansTypeface-Bold-webfont.ttf") format("truetype"), url("../fonts/permian/permbold/PermianSansTypeface-Bold-webfont.svg#permiansanstypefacebold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'permianitalic';
  src: url("../fonts/permian/permitalic/PermianSansTypeface-Italic-webfont.eot");
  src: url("../fonts/permian/permitalic/PermianSansTypeface-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/permian/permitalic/PermianSansTypeface-Italic-webfont.woff2") format("woff2"), url("../fonts/permian/permitalic/PermianSansTypeface-Italic-webfont.woff") format("woff"), url("../fonts/permian/permitalic/PermianSansTypeface-Italic-webfont.ttf") format("truetype"), url("../fonts/permian/permitalic/PermianSansTypeface-Italic-webfont.svg#permiansanstypefaceitalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'permianregular';
  src: url("../fonts/permian/permregular/PermianSansTypeface-webfont.eot");
  src: url("../fonts/permian/permregular/PermianSansTypeface-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/permian/permregular/PermianSansTypeface-webfont.woff2") format("woff2"), url("../fonts/permian/permregular/PermianSansTypeface-webfont.woff") format("woff"), url("../fonts/permian/permregular/PermianSansTypeface-webfont.ttf") format("truetype"), url("../fonts/permian/permregular/PermianSansTypeface-webfont.svg#permiansanstypefaceregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* End Reset */
.container {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  background: #e8eced; }
  .container h1 {
    text-align: center;
    font-size: 2.5em; }
  .container #euphoriaH {
    font-family: "euphoria", arial, sans-serif; }
  .container #permianH {
    font-family: "permianregular", Arial, sans-serif; }

.colors {
  margin: 0 auto; }

.blocks {
  padding: 5px;
  vertical-align: middle;
  padding-top: 15px;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  float: left; }

.block1 {
  background: #83A584; }

.block2 {
  background: #474747; }

.block3 {
  background: #f3f3f3; }

.block4 {
  background-color: #C7733C; }

.block5 {
  background: #1A4565; }

section {
  width: 45%;
  float: left;
  padding: 2%; }
  section #permianB {
    font-family: "permianbold", Arial, sans-serif; }
  section #permianI {
    font-family: "permianitalic", Arial, sans-serif; }

/*# sourceMappingURL=style.css.map */
