$euphoria: 'euphoria', arial, sans-serif;
$permianreg: 'permianregular', Arial, sans-serif;
$permianita: 'permianitalic', Arial, sans-serif;
$permianbol: 'permianbold', Arial, sans-serif;

@font-face {
    font-family: 'euphoria';
    src: url('../fonts/euphoria/euphoriascript-regular-webfont.woff2') format('woff2'),
         url('../fonts/euphoria/euphoriascript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// permian font
@font-face {
    font-family: 'permianbold';
    src: url('../fonts/permian/permbold/PermianSansTypeface-Bold-webfont.eot');
    src: url('../fonts/permian/permbold/PermianSansTypeface-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/permian/permbold/PermianSansTypeface-Bold-webfont.woff2') format('woff2'),
         url('../fonts/permian/permbold/PermianSansTypeface-Bold-webfont.woff') format('woff'),
         url('../fonts/permian/permbold/PermianSansTypeface-Bold-webfont.ttf') format('truetype'),
         url('../fonts/permian/permbold/PermianSansTypeface-Bold-webfont.svg#permiansanstypefacebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'permianitalic';
    src: url('../fonts/permian/permitalic/PermianSansTypeface-Italic-webfont.eot');
    src: url('../fonts/permian/permitalic/PermianSansTypeface-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/permian/permitalic/PermianSansTypeface-Italic-webfont.woff2') format('woff2'),
         url('../fonts/permian/permitalic/PermianSansTypeface-Italic-webfont.woff') format('woff'),
         url('../fonts/permian/permitalic/PermianSansTypeface-Italic-webfont.ttf') format('truetype'),
         url('../fonts/permian/permitalic/PermianSansTypeface-Italic-webfont.svg#permiansanstypefaceitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'permianregular';
    src: url('../fonts/permian/permregular/PermianSansTypeface-webfont.eot');
    src: url('../fonts/permian/permregular/PermianSansTypeface-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/permian/permregular/PermianSansTypeface-webfont.woff2') format('woff2'),
         url('../fonts/permian/permregular/PermianSansTypeface-webfont.woff') format('woff'),
         url('../fonts/permian/permregular/PermianSansTypeface-webfont.ttf') format('truetype'),
         url('../fonts/permian/permregular/PermianSansTypeface-webfont.svg#permiansanstypefaceregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
