/* SCSS file */
/* Here is the styling done for the CSS file */

@import "words";
@import "reset";

.container {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  background: #e8eced;
  h1 {
    text-align: center;
    font-size: 2.5em;
  }
  #euphoriaH {
    font-family: $euphoria;
  }
  #permianH {
    font-family: $permianreg;
  }
}

.colors {
  margin: 0 auto;
}

.blocks{
  padding: 5px;
  vertical-align: middle;
  padding-top: 15px;
  width: 100px;
  height: 100px;
  // background-color: black;
  margin-right: 20px;
  float: left;
}

.block1{
  background: #83A584;
}

.block2{
  background: #474747;
}

.block3{
  background: #f3f3f3;
}

.block4{
  background-color: #C7733C;
}

.block5{
  background: #1A4565;
}

section {
  width: 45%;
  float: left;
  padding: 2%;
  #permianB {
    font-family: $permianbol;
  }
  #permianI {
    font-family: $permianita;
  }
}
